@tailwind base;
@tailwind components;
@tailwind utilities;

 .montserrat {
    font-family: var(--font-mont);
}


:root {
 
}

@media (prefers-color-scheme: dark) {
  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes star-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.animate-star {
  animation: star-animation 1s ease-in-out;
}

.animate-stars {
  animation: stars 5s ease-out smooth infinite;   
}