@tailwind base;
@tailwind components;
@tailwind utilities;

 .montserrat {
    font-family: var(--font-mont);
}


:root {
 
}

@media (prefers-color-scheme: dark) {
  
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes star-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.animate-star {
  animation: star-animation 1s ease-in-out;
}

.animate-stars {
  animation: stars 5s ease-out smooth infinite;   
}

.confetti {
  opacity: 1;
  transition: opacity 0.5s ease; /* Adjust the duration and easing function as needed */
}

.confetti-hidden {
  opacity: 0;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader {
  border: 8px solid black;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

